*{
     margin:0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     vertical-align: baseline;
}

body {
    font: 14px/1.5 MaisonNeue,Arial,Helvetica,Verdana,sans-serif;
}
.article{
    margin:0;
    display: block;
}
/* Header style */
.content-nav{
  background-color: rgb(22, 45, 107);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  height: 400px;

}

header{
    background-color: rgb(213, 217, 230);
    margin:auto;
    position:center;
    padding-right:50px ;
}

.article-header-inner{
    margin: auto;
    float: right;
    color: rgb(255, 255, 255);
    text-align: left;
}
/* body style */
.content-body{
    margin:auto;
    width: 650px;
    position: center;
    display:block;
}


/* sidebar decoration */
.article-sidebar{
    position: fixed;
    width: 200px;
    left: 50px;
}

span{
    color:rgb(132, 137, 143);
    font-size: 14px;
    line-height: 0px;
    border-left: 3px solid transparent;
}

.article-wayfinding__title{
    padding-bottom: 20px;
}

nav ul{
height: 100%;
width: 100%;
list-style:none;
}

nav ul li a{
    color: rgb(132, 137, 143);
    text-decoration: none;
    display: block;
}

nav ul li span:hover{
    color: rgb(28, 100, 196);
    /* background:#f1efe9; */
    border-left-color: rgb(28, 100, 196);
}
