/* set the general style */
*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 12px;
    color: rgb(54, 54, 75);
}

/* background */
/* .js-content{
    /* background-color: rgb(241, 237, 237); */

/* head */
.content-nav{
    display: block;
    position: relative;
    top: 0;
    /* width: 80%; */
    margin: auto;
    height: 40rem;
    background-color: rgb(115, 143, 79);
}
/* hero pic */
.content-nav-hero{
    position:relative;
    top:0;
    float: left;
    background-color: rgb(231, 226, 220);
    height: 35rem;
    width: 60rem;
}
/* header */
Header{
    position: absolute;
    left:62rem;
    top: 50%;
    /* display: block;
    height: 400px; */
    /* margin-top: 30%; */
    color:#fff;
    /* background-color:aqua; */
    padding-right: 1.5rem;
}


.article-header  h3, h1{
    color: aliceblue;
}

.article-header h3{
    line-height: 2em;
    /* color:rgb(228, 161, 85); */
    font-weight: 300;
}

.article-header h1{
    line-height: 1em;
    font-size: 5rem;
    font-family: 'Antonio', sans-serif;
}
/* general main body styles */
.content-body{
    position: relative;
    display:block;
    margin: auto;
    background-color: #fff;
    width: 90%;
    padding-bottom: 50px;
}
/* sidebar */

.article-sidebar{
    display: none;
    position: fixed;
    width: 200px;
    top:20%;
    left:4%;
    margin-top:20px;
}

span{
    color:rgb(132, 137, 143);
    font-size: 14px;
    line-height: 0px;
    border-left: 3px solid transparent;
}

.article-wayfinding__title{
    padding-bottom: 20px;
}

nav ul{
height: 100%;
width: 100%;
list-style:none;
}


nav ul li a{
    color: rgb(132, 137, 143);
    text-decoration: none;
    display: block;
    line-height: 1em;
}
/* nav ul li{
    background-color: antiquewhite;
} */
.article-chapters-list-item{
    line-height: 10px;
    /* padding: 0;
    margin:0;
    background-color: aqua; */
}
nav ul li span:hover{
    color: rgb(28, 100, 196);
    /* background:#f1efe9; */
    border-left-color: rgb(28, 100, 196);
    padding-left:5px;
}
/* intro */
.article-subtitle p{
    color:rgb(107, 103, 103);
    font-size: 12px;
    padding-bottom: 20px;
}
.article-subtitle h3{
    font-family: 'Roboto Slab', serif;
}
.article-subtitle{
    /* background-color:antiquewhite; */
    height: auto;
    padding: 10px;
}
/* main content */
.article-section h2{
    font-size: 28px;
}
.article-main-content{
    /* background-color: cadetblue; */
    margin-top:20px;
    border-left: 1px solid rgb(221, 220, 220);
    position: absolute;
    width:80%;
    left:20%;
}
.basic-context section{
    padding:30px;
}

.basic-context figure{
    padding-top:20px;
    width: auto;
}
.basic-context p {
    /* display: inline-block; */
    padding-top: 10px;
    /* padding-right: 40px; */
    /* background-color: antiquewhite; */
    font-size: 18px;
    line-height: 1.5em
}

/* graphic styles */
#myDi, #regression{
    /* position: absolute; */
    top: 0;
    z-index: 3;
    width:auto;
    /* background-color: aquamarine; */
}

/* #regression{
    top: 0;
    z-index: 3;
    /* width:500px;
    border: #fff darkblue solid;
} */

/* reference style */
.reference{
    border-top: 1px solid rgb(221, 220, 220);
}
.reference h3{
    color:rgb(129, 129, 129);
    font-size: 20px;
}
.reference p{
    font-size: 12px;
    color:rgb(129, 129, 129);

}
/* responsive layout */
 @media screen and (max-width:1100px) {
    
    .article-sidebar{
       display: none !important;
    }
    .article-main-content{
        /* background-color: cadetblue; */
        left:10px;
        border-left:none ;
    }

    .content-nav{
        height: 52rem;
    }

    Header{
        position: absolute;
        left:0;
        top: 35rem;
        /* display: block;
        height: 400px; */
        /* margin-top: 30%; */
        margin: 2rem;
    }
} 








